---
import Layout from "../layouts/Layout.astro";
import Post from "../Components/Post.astro";

const posts = [
  {
    username: "ひろ@C103/1日目東モ08a",
    accountName: "habanero_mgmg",
    avatarUrl: "/img/user1.webp",
    // postImgUrl: "/img/post4.webp",
    postImgUrl: "/img/post1.webp",
    repliesCount: 18,
    repostsCount: 4219,
    likesCount: 29415,
    analiticsCount: 368193,
    contentPost: "ヴェールヌイ",
  },
  {
    username: "さ",
    accountName: "iorikawawa",
    avatarUrl: "/img/user2.webp",
    // postImgUrl: "/img/post5.webp",
    postImgUrl: "/img/post2.webp",
    repliesCount: 7,
    repostsCount: 2217,
    likesCount: 13612,
    analiticsCount: 292461,
    contentPost: "ヴェールヌイ",
  },
  {
    username: "Randomuser",
    accountName: "randomuser",
    avatarUrl: "/img/user3.webp",
    postImgUrl: "/img/post3.webp",
    repliesCount: 4,
    repostsCount: 812,
    likesCount: 6612,
    analiticsCount: 122461,
    contentPost:
      'This is a simple post <a class="post-link" href="/">#Go to home</a>',
  },
  {
    username: "ひろ@C103/1日目東モ08a",
    accountName: "habanero_mgmg",
    avatarUrl: "/img/user1.webp",
    postImgUrl: "/img/post4.webp",
    repliesCount: 18,
    repostsCount: 4219,
    likesCount: 29415,
    analiticsCount: 368193,
    contentPost: "ヴェールヌイ",
  },
  {
    username: "日目東モ",
    accountName: "iorikawawa",
    avatarUrl: "/img/user2.webp",
    postImgUrl: "/img/post5.webp",
    repliesCount: 7,
    repostsCount: 2217,
    likesCount: 13612,
    analiticsCount: 292461,
    contentPost: "ヴェールヌイ",
  },
];
---

<Layout title="Twitter" favicon="/ico/twitter.ico">
  <main class="p-6 bg-black border-t border-white/20">
    {
      posts
        .slice(0, 3)
        .map((post) => (
          <Post
            username={post.username}
            accountName={post.accountName}
            avatarUrl={post.avatarUrl}
            postImgUrl={post.postImgUrl}
            repliesCount={post.repliesCount}
            repostsCount={post.repostsCount}
            likesCount={post.likesCount}
            analiticsCount={post.analiticsCount}
            set:html={post.contentPost}
          />
        ))
    }
  </main>

  <div class="layers">
    <div id="post-viewer"></div>
  </div>

  <script is:inline type="module">
    const appendHTML = ({ parentElement, htmlContent }) => {
      parentElement.innerHTML += htmlContent;
    };

    const removeElement = ({ selector }) => {
      const $element = document.querySelector(selector);

      if ($element !== null) {
        $element.remove();
        return;
      }

      console.log("element not found");
    };

    const $postsImages = document.querySelectorAll(".post__image-container");
    const $postViewer = document.querySelector("#post-viewer");

    $postsImages.forEach(($postImage) => {
      $postImage.addEventListener("click", (event) => {
        const $img = event.target.closest("img");

        if ($img instanceof HTMLImageElement) {
          const imgUrl = $img.getAttribute("src");

          appendHTML({
            parentElement: $postViewer,
            htmlContent: ImageViewer({ imgUrl }),
          });
        }
      });
    });

    $postViewer?.addEventListener("click", (event) => {
      if (event.target !== event.target.closest("img")) {
        const selector = "[data-id=img-viewer]";
        const $element = document.querySelector(selector);

        $element.classList.toggle("animate-fade-in");
        $element.classList.toggle("animate-fade-out");

        setTimeout(() => {
          removeElement({ selector });
        }, 300);
      }
    });

    const ImageViewer = ({ imgUrl }) => {
      return `
        <div 
          class="viewer animate-fade-in animate-duration-faster" 
          data-id="img-viewer"
        >
          <figure class="viewer__image-container">
            <img
              class="viewer__image"
              src="${imgUrl}"
              alt="anything"
            />
          </figure>
        </div>
      `;
    };
  </script>
</Layout>
