---
import CommonLayout from "@/layouts/CommonLayout.astro";
import Post from "@/Components/Post.astro";
import { fetchPosts } from "@/utils/services";
import ImageViewerIsland from "@/Components/ImageViewerIsland.astro";

const posts = await fetchPosts(3);
---

<CommonLayout title="Twitter" favicon="/ico/twitter.ico" hideFooter>
  <main class="bg-white dark:bg-black pb-8">
    {
      posts.map((post) => (
        <Post
          username={post.username}
          accountName={post.accountName}
          avatarUrl={post.avatarUrl}
          postImgUrl={post.postImgUrl}
          repliesCount={post.repliesCount}
          repostsCount={post.repostsCount}
          likesCount={post.likesCount}
          analiticsCount={post.analiticsCount}
          set:html={post.contentPost}
        />
      ))
    }
  </main>
  <ImageViewerIsland />
</CommonLayout>
