---
import Layout from "@/layouts/Layout.astro";
import Post from "@/Components/Post.astro";
import { fetchPosts } from "@/utils/services";

const posts = await fetchPosts(5);
---

<Layout title="Twitter" favicon="/ico/twitter.ico">
  <main class="bg-black">
    {
      posts
        .slice(0, 3)
        .map((post) => (
          <Post
            username={post.username}
            accountName={post.accountName}
            avatarUrl={post.avatarUrl}
            postImgUrl={post.postImgUrl}
            repliesCount={post.repliesCount}
            repostsCount={post.repostsCount}
            likesCount={post.likesCount}
            analiticsCount={post.analiticsCount}
            set:html={post.contentPost}
          />
        ))
    }
  </main>

  <div class="layers">
    <div id="post-viewer"></div>
  </div>

  <script is:inline type="module">
    const appendHTML = ({ parentElement, htmlContent }) => {
      parentElement.innerHTML += htmlContent;
    };

    const removeElement = ({ selector }) => {
      const $element = document.querySelector(selector);

      if ($element !== null) {
        $element.remove();
        return;
      }

      console.log("element not found");
    };

    const $postsImages = document.querySelectorAll(".post__image-container");
    const $postViewer = document.querySelector("#post-viewer");

    $postsImages.forEach(($postImage) => {
      $postImage.addEventListener("click", (event) => {
        const $img = event.target.closest("img");

        if ($img instanceof HTMLImageElement) {
          const imgUrl = $img.getAttribute("src");

          appendHTML({
            parentElement: $postViewer,
            htmlContent: ImageViewer({ imgUrl }),
          });
        }
      });
    });

    $postViewer?.addEventListener("click", (event) => {
      if (event.target !== event.target.closest("img")) {
        const selector = "[data-id=img-viewer]";
        const $element = document.querySelector(selector);

        $element.classList.toggle("animate-fade-in");
        $element.classList.toggle("animate-fade-out");

        setTimeout(() => {
          removeElement({ selector });
        }, 300);
      }
    });

    const ImageViewer = ({ imgUrl }) => {
      return `
        <div 
          class="viewer animate-fade-in animate-duration-faster z-50" 
          data-id="img-viewer"
        >
          <figure class="viewer__image-container">
            <img
              class="viewer__image"
              src="${imgUrl}"
              alt="anything"
            />
          </figure>
        </div>
      `;
    };
  </script>
</Layout>
