---
import LikeIcon from "./Icons/LikeIcon.astro";
import ShareIcon from "./Icons/ShareIcon.astro";
import ReplyIcon from "./Icons/ReplyIcon.astro";
import RepostIcon from "./Icons/RepostIcon.astro";
import OptionsIcon from "./Icons/OptionsIcon.astro";
import AnaliticsIcon from "./Icons/AnaliticsIcon.astro";
import PostButton from "./PostButton.astro";
import PostContent from "./PostContent.astro";

interface Props {
  username: string;
  accountName: string;
  avatarUrl: string;
  postImgUrl: string;
  repliesCount: number;
  repostsCount: number;
  likesCount: number;
  analiticsCount: number;
}

const {
  username,
  accountName,
  avatarUrl,
  postImgUrl,
  repliesCount,
  repostsCount,
  likesCount,
  analiticsCount,
} = Astro.props;

const countToString = (count: number) => {
  return count > 1000
    ? count > 1000000
      ? `${Math.round(count / 1000000)}M`
      : `${Math.round(count / 1000)}K`
    : count;
};
---

<article class="post">
  <div class="post-container">
    <aside class="post-aside">
      <figure class="user-avatar">
        <img class="user-avatar__image" src={avatarUrl} alt="avatar" />
      </figure>
    </aside>
    <div class="post-content">
      <header class="post-header">
        <span class="user-information">
          <span class="user-information__username">{username}</span>
          <span class="user-information__account-name">@{accountName}</span>
          <span> · </span>
          <span class="post-time-ago">17h</span>
        </span>
        <span class="post-options">
          <PostButton hoverColor="bluesky">
            <OptionsIcon />
          </PostButton>
        </span>
      </header>
      <div>
        <PostContent>
          <slot />
        </PostContent>
      </div>
      <figure class="post__image-container">
        <img class="post__image" src={postImgUrl} alt="post-image" />
      </figure>
      <footer class="post-footer">
        <div class="icons-container">
          <PostButton hoverColor="bluesky">
            <ReplyIcon slot="icon" />
            {countToString(repliesCount)}
          </PostButton>
          <PostButton hoverColor="lightGreen">
            <RepostIcon slot="icon" />
            {countToString(repostsCount)}
          </PostButton>
          <PostButton hoverColor="carmesi">
            <LikeIcon slot="icon" />
            {countToString(likesCount)}
          </PostButton>
          <PostButton hoverColor="bluesky">
            <AnaliticsIcon slot="icon" />
            {countToString(analiticsCount)}
          </PostButton>
          <PostButton hoverColor="bluesky">
            <ShareIcon />
          </PostButton>
        </div>
      </footer>
    </div>
  </div>
</article>

<style>
  .post {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 600px;
    min-width: 200px;
    width: 100%;
    background-color: black;
    padding: 0.8rem 1rem;
    border-left: 1px solid hsla(0, 0%, 100%, 20%);
    border-right: 1px solid hsla(0, 0%, 100%, 20%);

    &:has(+ .post) {
      border-bottom: 1px solid hsla(0, 0%, 100%, 20%);
    }
  }

  .post-container {
    display: flex;
    flex-flow: row nowrap;
  }

  .post-aside {
    padding-right: 1rem;
  }

  .post-content {
    flex-grow: 1;
  }

  .user-avatar {
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  .user-avatar__image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .post-header {
    display: flex;
  }

  .user-information {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 50%);
    height: fit-content;
  }

  .user-information__username {
    color: hsl(0, 0%, 100%);
    font-weight: 600;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .user-information__account-name {
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }

  .post-time-ago {
    font-weight: 400;
  }

  .post-options {
    height: 1rem;
    margin-left: auto;
  }

  .post__image-container {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    max-height: 510px;
    margin-top: 0.7rem;
    cursor: pointer;
  }

  .post__image {
    max-height: 510px;
    max-width: 100%;
    border-radius: 1rem;
    border: 1px solid hsla(0, 0%, 100%, 15%);
    object-fit: cover;
  }

  .post-footer {
    padding-top: 1rem;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
  }

  .icon-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
  }
</style>
