---
import LikeIcon from "./Icons/LikeIcon.astro";
import ShareIcon from "./Icons/ShareIcon.astro";
import ReplyIcon from "./Icons/ReplyIcon.astro";
import RepostIcon from "./Icons/RepostIcon.astro";
import OptionsIcon from "./Icons/OptionsIcon.astro";
import AnaliticsIcon from "./Icons/AnaliticsIcon.astro";
import PostButton from "./PostButton.astro";
import PostContent from "./PostContent.astro";
import IconText from "./IconText.astro";
import BookmarkIcon from "./Icons/BookmarkIcon.astro";

interface Props {
  username: string;
  accountName: string;
  avatarUrl: string;
  postImgUrl: string;
  repliesCount: number;
  repostsCount: number;
  likesCount: number;
  analiticsCount: number;
}

const {
  username,
  accountName,
  avatarUrl,
  postImgUrl,
  repliesCount,
  repostsCount,
  likesCount,
  analiticsCount,
} = Astro.props;

const countToString = (count: number) => {
  return count > 1000
    ? count > 1000000
      ? `${Math.round(count / 1000000)}M`
      : `${Math.round(count / 1000)}K`
    : count;
};
---

<article
  class="flex mx-auto max-w-[600px] min-w-0 w-full py-3 px-4 border-x border-b cursor-pointer
    bg-white border-zinc-200 hover:bg-zinc-50
    dark:bg-black dark:border-zinc-800 dark:hover:bg-zinc-950"
>
  <aside class="pr-4">
    <picture class="w-10 h-10 pointer">
      <img
        class="object-cover max-w-10 w-10 max-h-10 h-10 rounded-full"
        src={avatarUrl}
        alt="avatar"
        loading="lazy"
      />
    </picture>
  </aside>
  <div class="flex-grow">
    <header class="flex">
      <div class="text-sm">
        <span
          class="font-semibold cursor-pointer
            underline underline-offset-2 decoration-2 decoration-transparent hover:decoration-current
            text-black dark:text-white"
          >{username}</span
        ><span class="cursor-pointer text-zinc-500 ml-1"
          >@{accountName} · <span>17h</span>
        </span>
      </div>
      <div class="h-4 ml-auto">
        <PostButton class="text-zinc-500 hover:text-icon-skyblue">
          <OptionsIcon class="w-5 h-5" slot="icon" />
        </PostButton>
      </div>
    </header>
    <div>
      <PostContent>
        <slot />
      </PostContent>
    </div>
    <picture
      class="image-container flex items-center max-h-[510px] mt-3 w-fit cursor-pointer overflow-y-hidden"
    >
      <img
        class="max-h-[510px] max-w-full rounded-2xl border border-zinc-200 dark:border-zinc-800"
        src={postImgUrl}
        alt="post-image"
        loading="lazy"
      />
    </picture>
    <footer class="pt-4">
      <div class="flex justify-between">
        <PostButton class="text-zinc-500 hover:text-icon-skyblue">
          <ReplyIcon class="w-5 h-5" slot="icon" />
          <IconText>{countToString(repliesCount)}</IconText>
        </PostButton>
        <PostButton class="text-zinc-500 hover:text-icon-lightGreen">
          <RepostIcon class="w-5 h-5" slot="icon" />
          <IconText>{countToString(repostsCount)}</IconText>
        </PostButton>
        <PostButton class="text-zinc-500 hover:text-icon-carmesi">
          <LikeIcon class="w-5 h-5" slot="icon" />
          <IconText>{countToString(likesCount)}</IconText>
        </PostButton>
        <PostButton class="text-zinc-500 hover:text-icon-skyblue">
          <AnaliticsIcon class="w-5 h-5" slot="icon" />
          <IconText>{countToString(analiticsCount)}</IconText>
        </PostButton>
        <div class="flex gap-3">
          <PostButton class="text-zinc-500 hover:text-icon-skyblue">
            <BookmarkIcon class="w-5 h-5" slot="icon" />
          </PostButton>
          <PostButton class="text-zinc-500 hover:text-icon-skyblue">
            <ShareIcon class="w-5 h-5" slot="icon" />
          </PostButton>
        </div>
      </div>
    </footer>
  </div>
</article>
